.chat {
  position: relative;
  top: 80px;
  margin-left: 300px;
  width: calc(100% - 300px);
  flex-direction: column;
  padding: 0 30px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px 0;
}

.chat-input {
  display: flex;
  width: 80%; 
  max-width: 90%; 
  padding: 10px 0;
  border-top: 1px solid #ddd;
  position: relative; 
  align-items: center; 
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 25px;
  max-width: 100%; 
}

.chat-input button {
  margin-left: 10px;
  padding: 5px;
  background-color: #ffffff;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input button:hover {
  background-color: #f0f0f1;
}

.chat-input button img {
  width: 25px; 
  height: 25px; 
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1; 
}

.upload-container p {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5); 
  opacity: 0.5;
}

.chat-active .upload-container {
  display: none;
}


.upload-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1; 
}

.upload-confirmation h2 {
  color: #333;
  font-size: 20px;
}

.confirm-button {
  width: 60px; 
  height: 60px; 
  background: none;
  border: none;
  cursor: pointer;
}

.send-button{
  border: none;
}

.confirm-button img {
  width: 100%;
  height: 100%;
}

.confirm-button:hover {
  background-color: #eaecee; 
}

.chat-active .upload-container {
  position: absolute;
  top: 10px; 
  left: 10px;
  transform: none;
  text-align: left;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload-button {
  width: 60px; 
  height: 60px; 
  background: none;
  border: none;
  cursor: pointer;
}

.upload-button img {
  width: 100%;
  height: 100%;
}

.uploading-status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loading {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cancel-button img {
  width: 20px;
  height: 20px;
}

.cancel-button:hover img {
  opacity: 0.8;
}
